.coverage
.dart_tool
.dartfix
.packages
.pana
coverage.json
doc
lcov*.info
node_modules
package-lock.json
pubspec.lock
build
flutter/example/.flutter-plugins
flutter/example/.flutter-plugins-dependencies
main.dart.js.deps
main.dart.js.map
