.coverage
.dart_tool
.dartfix
.metadata
.packages
.pana
.pubspec_extract
/*.png
/*.svg
build
coverage.json
doc
lcov*.info
main.dart.js.deps
main.dart.js.map
node_modules
package-lock.json
pubspec.lock
