.coverage
.dart_tool
main.dart.js.deps
main.dart.js.map
.flutter-plugins
.flutter-plugins-dependencies
.dartfix
.packages
.pana
coverage.json
doc
lcov*.info
node_modules
package-lock.json
pubspec.lock
build
flutter
demo
/*.svg
/*.png
